# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Distribution / packaging
build/
dist/

# Debug Folder
debug/
tests/

*.spec
*.txt
documentation.md

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Environments
.env
.envrc
.venv
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# VS Code folder
.vscode/